.layout {
    display: flex;
  
    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .container-fluid {
      width: 100%;
      height: calc(100vh - 70px);
    }
  }
  