body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-stack;
    transition: all 0.3s ease-in-out;
}
body.dark {
    background-color: $body-bg-dark;
    color: $body-color-dark;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
