$primary: #007bff;
$secondary: #6c757d;
$danger: #dc3545;
$success: #28a745;
$white: #ffffff;
$black: #000000;
$gray: #f8f9fa;

$font-stack: "Arial", sans-serif;

$body-bg: #f8f9fa;
$body-color: #5b6b79;
$sidebar-border: 2px dashed #e4e5e6;


$bg-color: #0075fb;
$text-color: #333;
$border-color: #ddd;



$body-bg-dark: #131920;
$body-color-dark: #A9AAAC;
$sidebar-border-dark: 2px dashed #222d39;


$dark-bg: #333;
$dark-text: #fff;
$dark-border-color: #555;
$dark-primary: #007bff;
